<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="icon" href="Z_logo.png">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-primary is-small">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <a class="navbar-item">
                <div class="navbar-brand">
                <img src="ZhenXiang_simple_white.png" alt="Logo">
              </a>
              <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <a class="button is-primary is-inverted">
                    <span class="icon">
                      <i class="fab fa-facebook"></i>
                    </span>
                  </a>                  
                  <span class="navbar-item">
                    <a class="button is-primary is-inverted">
                      <span class="icon">
                        <i class="fab fa-twitter"></i>
                      </span>
                    </a>                  
                    <span class="navbar-item">
                      <a class="button is-primary is-inverted">
                        <span class="icon">
                          <i class="fab fa-linkedin"></i>
                        </span>
                      </a>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                  </a>
                </span>
                </div>
              </div>
            </div>
          </nav>
        </div>
      
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        About Me
      </h1>
      <h2 class="subtitle">
        Hi :)
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <ul>
            <li><a href = "index.html">Overview</a></li>
            <li class="is-active"><a href = "About.html">About Me</a></li>
            <li><a href="Blog.html">Blog</a></li>
            <li><a href = "Projects.html">Projects</a></li>
            <li><a href = "Contact.html">Contact</a></li>
          </ul>
      </div>
    </nav>
  </div>
</section>

<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
      <div class="column is-8 is-offset-2">
          <!-- START ARTICLE -->
          <div class="card article">
              <div class="card-content">
                  <div class="media">
                      <div class="media-content has-text-centered">
                          <p class="title article-title">Introducing a new feature for paid subscribers</p>
                          <div class="tags has-addons level-item">
                              <span class="tag is-rounded is-info">@skeetskeet</span>
                              <span class="tag is-rounded">May 10, 2018</span>
                          </div>
                      </div>
                  </div>
                  <div class="content article-body">
                      <p>Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. </p>
                      <p>Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Accumsan lacus vel facilisis volutpat. Non sodales neque sodales ut etiam.
                          Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.</p>
                      <h3 class="has-text-centered">How to properly center tags in bulma?</h3>
                      <p> Proper centering of tags in bulma is done with class: <pre>level-item</pre>
                          Voluptat ut farmacium tellus in metus vulputate. Feugiat in fermentum posuere urna nec. Pharetra convallis posuere morbi leo urna molestie.
                          Accumsan lacus vel facilisis volutpat est velit egestas. Fermentum leo vel orci porta. Faucibus interdum posuere lorem ipsum.</p>
                  </div>
              </div>
          </div>
          <!-- END ARTICLE -->


        </div>
    </section>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Website</strong> by <a href="http://seansoo.tech">ZhenXiang</a>
      </p>
    </div>
  </footer>
</html>